<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	 
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
       <form action="salvarpessoa" method="post">
          <label>ID:</label>
          <input type="text" name="id">
          <label>Nome:</label>
          <input type="text" name="nome">
          <label>Endereco:</label>
          <input type="text" name="endereco">
          <label>Telefone:</label>
          <input type="text" name="telefone">
          <label>Email:</label>
          <input type="text" name="email">
          <label>CPF:</label>
          <input type="text" name="cpf">
          <label>Data:</label>
          <input type="Data Nascimento" name="dataNasc">
          <input type="submit" value="Salvar">
      </form>
      
      <!--  <a href="/listapessoas">ListaPessoas</a>--->
      <h1>Lista de Clientes</h1>
      
      <table>
           <tr th:each = "cliente : ${clientes}">
           <td th:text = "${cliente.id}"></td>
           <td th:text = "${pessoa.nome}"></td>
           <td th:text = "${cliente.endereco}"></td>
           <td th:text = "$cliente.telefone}"></td>
          <td th:text = "${cliente.email}"></td>
          <td th:text = "${cliente.cpf}"></td>
          <td th:text = "${cliente.dataNasc}"></td>
            
           
           </tr>
      </table>
</body>
</html>